@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://use.typekit.net/puq2idw.css");
@font-face {
  font-family: "Causten-ExtraBold";
  src: url("../../assets/fonts/Causten/Causten-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Causten-Bold";
  src: url("../../assets/fonts/Causten/Causten-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Causten-Regular";
  src: url("../../assets/fonts/Causten/Causten-Regular.otf") format("opentype");
}
body {
  font-family: "Causten-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}

button:focus {
  outline: none;
}

ul {
  padding-left: 0;
}

ol {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

.green {
  color: #0dad8d;
}

.g-btn {
  font-family: "Causten-Bold";
  height: 66px;
  border: none;
  color: white;
  background-color: #0dad8d;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
.g-btn:hover {
  color: white;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
}

.accueil .hero-section {
  margin-top: 60px;
}
.accueil .hero-section h1 {
  font-family: "Causten-ExtraBold";
  font-size: 80px;
  line-height: 75px;
}
.accueil .hero-section__img {
  max-width: 100%;
}
@media (min-width: 992px) {
  .accueil .hero-section__img {
    max-width: none;
  }
}
.accueil .hero-section__description {
  margin-top: -200px;
  background-color: #32373c;
  color: white;
  padding: 55px 0 85px;
}
.accueil .hero-section__description p {
  margin-bottom: 40px;
}
.accueil .liste-offres {
  margin-bottom: 300px;
}
.accueil .liste-offres h2 {
  font-size: 50px;
  font-family: "Causten-ExtraBold";
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
}
.accueil .liste-offres__filtres {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.accueil .liste-offres__filtres select {
  background-color: white;
  border: 1px solid #b8b8b8;
  padding: 15px 60px 10px 20px;
  background-image: url("data:image/svg+xml;utf8,<svg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.303041 2.31225L4.82095 6.78085C5.01084 6.96889 5.25562 7.06251 5.5 7.06251C5.74438 7.06251 5.98916 6.96889 6.17905 6.78085L10.697 2.31225C11.0887 1.92428 11.1025 1.28159 10.7277 0.876156C10.3524 0.469932 9.73092 0.457236 9.33883 0.844418L5.5 4.64176L1.66117 0.844418C1.26908 0.456424 0.647552 0.470719 0.272348 0.876156C-0.102487 1.28159 -0.0886631 1.92428 0.303041 2.31225Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 170px;
  background-position-y: 22px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.accueil .liste-offres__filtres select::-moz-placeholder {
  color: #32373c;
  opacity: 1;
}
.accueil .liste-offres__filtres select:-ms-input-placeholder {
  color: #32373c;
  opacity: 1;
}
.accueil .liste-offres__filtres select::placeholder {
  color: #32373c;
  opacity: 1;
}
.accueil .liste-offres__filtres .checkbox-container {
  position: relative;
  padding-left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.accueil .liste-offres__filtres .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.accueil .liste-offres__filtres .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.accueil .liste-offres__filtres .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #b8b8b8;
}
.accueil .liste-offres__filtres .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 15px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}