@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://use.typekit.net/puq2idw.css");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: black;
}

a:hover {
  color: black;
}

button:focus {
  outline: none;
}

ul {
  padding-left: 0;
  margin-top: 25px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.g-title {
  font-weight: 700;
  font-size: 25px;
}

.g-title--lg {
  font-size: 30px;
}

.g-tag {
  height: 30px;
  border-radius: 5px;
  background-color: #03565c;
  color: white;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  padding: 5px 20px 5px 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  margin-top: 10px;
  font-weight: 700;
}

.g-block {
  border-radius: 25px;
  padding: 40px;
}

.g-block--trouver-ecole {
  background-color: #f1dbc9;
  color: #03565c;
}

.g-block--trouver-ecole h2 {
  margin-top: 10px;
}

.g-block--trouver-ecole img {
  width: 283px;
}

.btn {
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: #ec4b54;
  font-weight: 700;
  font-size: 22px;
  padding: 0 20px;
}

.btn:hover {
  background-color: #ec4b54;
}

.btn img {
  max-height: 30px;
  max-width: 30px;
  margin-left: 30px;
}

.home section {
  padding: 65px 80px;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.home section .g-title {
  margin-bottom: 20px;
}
