@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://use.typekit.net/puq2idw.css");
@font-face {
  font-family: "Causten-ExtraBold";
  src: url("../../assets/fonts/Causten/Causten-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Causten-Bold";
  src: url("../../assets/fonts/Causten/Causten-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Causten-Regular";
  src: url("../../assets/fonts/Causten/Causten-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Causten-Medium";
  src: url("../../assets/fonts/Causten/Causten-Medium.otf") format("opentype");
}
*,
p,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Causten-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}

button:focus {
  outline: none;
}

ul {
  padding-left: 0;
}

ol {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

.brand-color {
  color: #0dad8d;
}

.g-btn {
  font-family: "Causten-Bold";
  height: 40px;
  padding: 0 35px;
  border: none;
  color: white;
  background-color: #0dad8d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
@media (min-width: 992px) {
  .g-btn {
    padding: 0 60px;
    height: 66px;
  }
}
.g-btn:hover {
  color: white;
}
.g-btn--grey {
  background-color: #32373c;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .header {
    height: 100px;
  }
}
.header__logo {
  height: 30px;
}
@media (min-width: 992px) {
  .header__logo {
    height: 40px;
  }
}

footer {
  background-color: #151515;
  padding: 40px 0;
}
@media (min-width: 992px) {
  footer {
    padding: 100px 0;
  }
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 992px) {
  footer .footer-content {
    align-items: center;
    flex-direction: row;
  }
}
footer .footer-content > img {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  footer .footer-content > img {
    margin-right: 80px;
    margin-bottom: 0px;
  }
}
footer .footer-content a,
footer .footer-content p {
  font-size: 16px;
  font-family: "Causten-Medium", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-content a:not(:last-child),
footer .footer-content p:not(:last-child) {
  margin-bottom: 12px;
}
@media (min-width: 992px) {
  footer .footer-content a:not(:last-child),
footer .footer-content p:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  footer .footer-content a,
footer .footer-content p {
    margin-right: 80px;
  }
}

@media (min-width: 992px) {
  .accueil .hero-section {
    margin-top: 60px;
  }
}
.accueil .hero-section h1 {
  font-family: "Causten-ExtraBold";
  font-size: 40px;
  line-height: 36px;
}
@media (min-width: 992px) {
  .accueil .hero-section h1 {
    line-height: 75px;
    font-size: 80px;
  }
}
.accueil .hero-section__img--desktop {
  display: none;
}
@media (min-width: 992px) {
  .accueil .hero-section__img--desktop {
    display: block;
  }
}
.accueil .hero-section__img--mobile {
  max-width: 100%;
  margin-top: -40px;
}
@media (min-width: 992px) {
  .accueil .hero-section__img--mobile {
    display: none;
  }
}
.accueil .hero-section__description {
  background-color: #32373c;
  color: white;
  margin-top: 60px;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .accueil .hero-section__description {
    padding: 55px 0 85px;
    margin-top: -200px;
  }
}
.accueil .hero-section__description p {
  margin-top: 30px;
  margin-bottom: 0px;
}
@media (min-width: 992px) {
  .accueil .hero-section__description p {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.accueil .nos-offres h2 {
  font-family: "Causten-ExtraBold";
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
  font-size: 22px;
}
@media (min-width: 992px) {
  .accueil .nos-offres h2 {
    font-size: 50px;
    margin: 50px 0;
  }
}
.accueil .nos-offres__filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .accueil .nos-offres__filtres {
    margin-bottom: 60px;
    font-size: 20px;
    justify-content: space-between;
  }
}
.accueil .nos-offres__filtres > * {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .accueil .nos-offres__filtres > * {
    margin-bottom: 0;
  }
}
.accueil .nos-offres__filtres select {
  background-color: white;
  border: 1px solid #b8b8b8;
  padding: 15px 60px 10px 20px;
  background-image: url("data:image/svg+xml;utf8,<svg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.303041 2.31225L4.82095 6.78085C5.01084 6.96889 5.25562 7.06251 5.5 7.06251C5.74438 7.06251 5.98916 6.96889 6.17905 6.78085L10.697 2.31225C11.0887 1.92428 11.1025 1.28159 10.7277 0.876156C10.3524 0.469932 9.73092 0.457236 9.33883 0.844418L5.5 4.64176L1.66117 0.844418C1.26908 0.456424 0.647552 0.470719 0.272348 0.876156C-0.102487 1.28159 -0.0886631 1.92428 0.303041 2.31225Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  flex: 0 0 100%;
}
@media (min-width: 992px) {
  .accueil .nos-offres__filtres select {
    flex: 0 1 auto;
    background-position-x: 170px;
    background-position-y: 25px;
  }
}
.accueil .nos-offres__filtres .checkbox-container {
  position: relative;
  padding-left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 38px;
  height: 38px;
  flex: 0 0 50%;
}
@media (min-width: 992px) {
  .accueil .nos-offres__filtres .checkbox-container {
    flex: 0 1 auto;
  }
}
.accueil .nos-offres__filtres .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.accueil .nos-offres__filtres .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.accueil .nos-offres__filtres .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border: 1px solid #b8b8b8;
}
.accueil .nos-offres__filtres .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 15px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid #0dad8d;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.accueil .nos-offres__liste .offre {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .accueil .nos-offres__liste .offre {
    margin-bottom: 60px;
  }
}
.accueil .nos-offres__liste .offre h3 {
  font-family: "Causten-Bold";
  margin-bottom: 20px;
  font-size: 20px;
}
@media (min-width: 992px) {
  .accueil .nos-offres__liste .offre h3 {
    font-size: 30px;
  }
}
.accueil .nos-offres__liste .offre__info {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .accueil .nos-offres__liste .offre__info {
    font-size: 18px;
  }
}
.accueil .nos-offres__liste .offre__info > div {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
@media (min-width: 992px) {
  .accueil .nos-offres__liste .offre__info > div {
    margin-right: 60px;
  }
}
.accueil .nos-offres__liste .offre__info > div > img {
  margin-right: 10px;
  height: 17px;
}
@media (min-width: 992px) {
  .accueil .nos-offres__liste .offre__info > div > img {
    height: unset;
    margin-right: 12px;
  }
}
.accueil .nos-offres__liste .offre__cta {
  color: #0dad8d;
  font-size: 12px;
  font-family: "Causten-Bold";
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .accueil .nos-offres__liste .offre__cta {
    font-size: 20px;
  }
}
.accueil .nos-offres__liste .offre__cta img {
  margin-left: 15px;
  width: 15px;
}
@media (min-width: 992px) {
  .accueil .nos-offres__liste .offre__cta img {
    width: unset;
  }
}

.poste .poste-banner {
  background-image: url("../../assets/imgs/hero-poste.jpg");
  background-size: cover;
  padding: 30px 0;
  position: relative;
}
@media (min-width: 992px) {
  .poste .poste-banner {
    padding: 50px 0;
  }
}
.poste .poste-banner h1 {
  font-family: "Causten-ExtraBold";
  font-size: 34px;
  color: white;
}
@media (min-width: 992px) {
  .poste .poste-banner h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }
}
.poste .poste-banner__info {
  display: flex;
  align-items: center;
  color: #0dad8d;
  font-size: 16px;
}
@media (min-width: 992px) {
  .poste .poste-banner__info {
    font-size: 19px;
  }
}
.poste .poste-banner__info img {
  height: 17px;
  margin-right: 10px;
}
.poste .poste-banner__date {
  position: absolute;
  text-align: right;
  right: 15px;
  bottom: -30px;
  font-size: 8px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .poste .poste-banner__date {
    position: unset;
    color: white;
    font-size: 14px;
    margin-top: 30px;
  }
}
.poste .poste-description h2 {
  font-family: "Causten-Bold";
  color: #0dad8d;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 50px 0 15px;
  font-size: 16px;
}
@media (min-width: 992px) {
  .poste .poste-description h2 {
    font-size: 22px;
  }
}
.poste .poste-description p,
.poste .poste-description ul {
  color: #555555;
  margin-bottom: 15px;
  font-size: 12px;
}
@media (min-width: 992px) {
  .poste .poste-description p,
.poste .poste-description ul {
    font-size: 16px;
  }
}
.poste .poste-description ul {
  padding: 0 15px;
}
.poste .poste-description li {
  list-style: disc;
}
.poste .formulaire-candidature {
  background-color: #0dad8d;
  padding: 30px 0;
}
@media (min-width: 992px) {
  .poste .formulaire-candidature {
    max-width: 490px;
    padding: 60px;
    position: absolute;
    right: 0;
    top: 220px;
  }
}
@media (min-width: 1200px) {
  .poste .formulaire-candidature {
    max-width: 600px;
    padding: 60px 70px;
  }
}
@media (min-width: 1400px) {
  .poste .formulaire-candidature {
    max-width: 700px;
    padding: 60px 190px 60px 70px;
  }
}
.poste .formulaire-candidature h2 {
  font-family: "Causten-Bold";
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 16px;
}
@media (min-width: 992px) {
  .poste .formulaire-candidature h2 {
    font-size: 19px;
  }
}
.poste .formulaire-candidature__hint {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 13px;
}
@media (min-width: 992px) {
  .poste .formulaire-candidature__hint {
    line-height: 19px;
    font-size: 13px;
  }
}
.poste .formulaire-candidature__validation-alert {
  background-color: #e95c5c;
  padding: 15px;
  color: white;
  font-size: 13px;
  line-height: 16px;
}
.poste .formulaire-candidature__input, .poste .formulaire-candidature textarea, .poste .formulaire-candidature__select, .poste .formulaire-candidature__input-file label, .poste .formulaire-candidature input {
  border: 1px solid #cccccc;
  width: 100%;
  height: 48px;
  padding: 0 15px;
  background-color: white;
}
.poste .formulaire-candidature textarea::-moz-placeholder, .poste .formulaire-candidature input::-moz-placeholder {
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  font-family: "Causten-Bold";
  letter-spacing: 0.15em;
  opacity: 1;
}
.poste .formulaire-candidature textarea:-ms-input-placeholder, .poste .formulaire-candidature input:-ms-input-placeholder {
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  font-family: "Causten-Bold";
  letter-spacing: 0.15em;
  opacity: 1;
}
.poste .formulaire-candidature__placeholder, .poste .formulaire-candidature textarea::placeholder, .poste .formulaire-candidature textarea, .poste .formulaire-candidature__select, .poste .formulaire-candidature__input-file p, .poste .formulaire-candidature__input-file label, .poste .formulaire-candidature input::placeholder, .poste .formulaire-candidature input {
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  font-family: "Causten-Bold";
  letter-spacing: 0.15em;
  opacity: 1;
}
.poste .formulaire-candidature__input-with-icon {
  position: relative;
}
.poste .formulaire-candidature__input-with-icon input {
  padding-left: 50px;
}
.poste .formulaire-candidature__input-with-icon .icon-container {
  width: 42px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poste .formulaire-candidature__indication {
  color: white;
  font-size: 11px;
}
.poste .formulaire-candidature__indication b {
  font-size: 12px;
}
.poste .formulaire-candidature__input-file {
  position: relative;
}
.poste .formulaire-candidature__input-file input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.poste .formulaire-candidature__input-file label {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.poste .formulaire-candidature__input-file p {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  padding: 0 25px;
}
.poste .formulaire-candidature__select {
  background-image: url("data:image/svg+xml;utf8,<svg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.303041 2.31225L4.82095 6.78085C5.01084 6.96889 5.25562 7.06251 5.5 7.06251C5.74438 7.06251 5.98916 6.96889 6.17905 6.78085L10.697 2.31225C11.0887 1.92428 11.1025 1.28159 10.7277 0.876156C10.3524 0.469932 9.73092 0.457236 9.33883 0.844418L5.5 4.64176L1.66117 0.844418C1.26908 0.456424 0.647552 0.470719 0.272348 0.876156C-0.102487 1.28159 -0.0886631 1.92428 0.303041 2.31225Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.poste .formulaire-candidature textarea {
  height: unset;
  padding-top: 15px;
}
.poste .formulaire-candidature__modal-btn {
  margin-left: 10px;
  flex: 0 0 81px;
  background: #32373c;
  font-size: 11px;
  font-family: "Causten-Bold";
  color: white;
  padding: 5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  line-height: 11px;
  text-align: left;
}
.poste .formulaire-candidature__modal-btn img {
  margin-right: 5px;
}
.poste .formulaire-candidature__rappel-modal .modal-content {
  color: white;
  background-color: #32373c;
  border-radius: 25px;
  padding: 30px 40px;
}
.poste .formulaire-candidature__rappel-modal .modal-content .header {
  display: flex;
  margin-bottom: 20px;
}
.poste .formulaire-candidature__rappel-modal .modal-content .header img {
  height: 40px;
  margin-right: 20px;
}
.poste .formulaire-candidature__rappel-modal .modal-content .header h3 {
  font-family: "Causten-Bold";
  font-size: 22px;
  margin-bottom: 5px;
}
.poste .formulaire-candidature__rappel-modal .modal-content .header p {
  font-size: 13px;
}
.poste .formulaire-candidature__rappel-modal .modal-content .info {
  font-size: 11px;
  line-height: 16px;
}
.poste .carte-poste {
  background: rgba(13, 173, 141, 0.15);
  padding: 40px 35px;
  margin: 60px 0 30px;
}
.poste .carte-poste ul li {
  display: flex;
}
.poste .carte-poste ul li:not(:last-child) {
  margin-bottom: 15px;
}
.poste .carte-poste__type {
  flex: 0 0 50%;
  color: #0dad8d;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 12px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .poste .carte-poste__type {
    flex: 0 0 200px;
    font-family: "Causten-Bold";
    font-size: 16px;
  }
}
.poste .carte-poste__info {
  font-size: 16px;
  color: #555555;
}
.poste .partagez-annonce {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 3px solid #151515;
  display: flex;
  justify-content: space-between;
}
.poste .partagez-annonce h2 {
  font-size: 20px;
}
.poste .partagez-annonce__socials a {
  margin-left: 10px;
}
.poste .mots-cles {
  margin: 30px 0;
  font-size: 11px;
}
@media (min-width: 992px) {
  .poste .mots-cles {
    margin: 30px 0 150px;
  }
}
.poste .poste-interesse {
  display: none;
  background-color: #0dad8d;
  color: white;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.poste .poste-interesse .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.poste .poste-interesse p {
  font-family: "Causten-Medium";
  margin-right: 30px;
  font-size: 15px;
}
@media (min-width: 992px) {
  .poste .poste-interesse p {
    font-size: 22px;
  }
}

.merci {
  min-height: calc(100vh - 238px - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.merci h1 {
  font-size: 30px;
  font-family: "Causten-ExtraBold";
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .merci h1 {
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
  }
}
.merci p {
  font-size: 14px;
  font-family: "Causten-Bold";
}
@media (min-width: 992px) {
  .merci p {
    font-size: 19px;
  }
}