.g-block {
  border-radius: $baseBorderRadius;
  padding: 40px;
  &__trouver-ecole {
    background-color: $light-orange;
    color: $green;
    h2 {
      margin-top: 10px;
    }
    img {
      width: 283px;
    }
  }
  &__se-faire-rappeler {
    background-color: $green;
    color: white;
    inline-size: fit-content;
    max-width: 480px;
    .row {
      align-items: center;
      margin-bottom: 20px;
    }
    h2 {
      inline-size: fit-content;
      margin-left: 20px;
    }
  }
  &__chiffres-annuaire {
    background-color: $green;
    color: white;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      color: $yellow;
    }
    .g-yellow-icon {
      padding: 10px;
      width: 45px;
      height: 45px;
      margin-right: 15px;
    }
    p {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 22px;
    }
  }
  &__rechercher-une-ecole {
    background-color: $yellow;
    color: $green;
    text-align: center;
    border-radius: 25px 25px 0 0;
    padding-bottom: 60px;
    p {
      margin-bottom: 30px;
    }
    .g-btn {
      background-color: $green;
      justify-content: flex-start;
      img {
        margin-right: 15px;
      }
    }
  }
  &__contact-form {
    background-color: $grey;
    .g-title {
      color: $green;
    }
  }
  &__rediger-un-avis {
    background-color: $grey;
    .g-title {
      color: $green;
    }
    &__icon {
      flex: 0 0 auto;
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 67px;
      height: 67px;
      border-radius: 67px;
      background-color: $yellow;
    }
    &__note {
      display: flex;
      align-items: center;
      img,
      svg {
        margin-left: 5px;
      }
    }
  }
}
