.g-block {
  border-radius: $baseBorderRadius;
  &--trouver-ecole {
    padding: 40px;
    background-color: $light-orange;
    color: $green;
    h2 {
      margin-top: 10px;
    }
    img {
      width: 283px;
    }
  }
  &--se-faire-rappeler {
    padding: 40px;
    background-color: $green;
    color: white;
    inline-size: fit-content;
    max-width: 480px;
    .row {
      align-items: center;
      margin-bottom: 20px;
    }
    h2 {
      inline-size: fit-content;
      margin-left: 20px;
    }
  }
  &--small {
    padding: 20px;
    width: 175px;
    height: 150px;
    margin-top: 20px;
  }
}
