.g-btn {
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: $red;
  font-weight: 700;
  padding: 0 20px;
  display: flex;
  align-items: center;
  @include media-breakpoint-up($md) {
    font-size: 22px;
  }
  &:hover {
    background-color: $red;
  }
}
