.g-card {
  border-radius: $baseBorderRadius;
  padding: 20px;
  &--green {
    background-color: #cae1de;
    width: 175px;
    height: 150px;
    p {
      margin-top: 5px;
    }
  }
  &--white {
    background-color: white;
    align-items: center;
    margin-top: 20px;
    .bold {
      font-weight: 700;
    }
    .icon {
      height: 65px;
      width: 60px;
      margin-right: 15px;
    }
    .marker {
      width: 20px;
      padding: 0;
      margin-right: 5px;
    }
    p {
      margin-bottom: 0;
    }
  }
}
