.g-card {
  border-radius: $baseBorderRadius;
  padding: 20px;
  line-height: 15px;
  &__small {
    width: 140px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    @include media-breakpoint-up($md) {
      min-width: 175px;
      min-height: 150px;
      border-radius: $baseBorderRadius;
      padding: 25px;
      flex-direction: column;
      align-items: flex-start;
    }
    img {
      width: 20px;
      @include media-breakpoint-up($md) {
        width: 35px;
      }
    }
    p {
      margin: 5px;
    }
    &__orange {
      background-color: $light-orange;
    }
    &__green {
      background-color: $light-green;
    }
  }

  &__school {
    background-color: white;
    margin-top: 20px;
    padding: 5px 10px;
    @include media-breakpoint-up($md) {
      align-items: center;
      padding: 20px;
    }
    .bold {
      font-weight: 700;
    }
    .icon {
      height: 35px;
      width: 30px;
      margin-right: 10px;
      @include media-breakpoint-up($md) {
        height: 60px;
        width: 60px;
        margin-right: 15px;
      }
    }
    .marker {
      width: 20px;
      padding: 0;
      margin-right: 5px;
    }
    p {
      margin-bottom: 0;
    }
  }
}
