footer {
  background-color: #262626;
  color: white;
  padding: 50px 75px;
  h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
  }
  a {
    color: white;
    display: block;
    margin-bottom: 10px;
  }
  .sub-footer {
    padding: 40px;
    text-align: center;
    width: 100%;
  }
}
