.ADE-color {
  color: $ADE-color;
}

.g-btn {
  font-family: "Causten-Bold";
  height: 40px;
  padding: 0 35px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  @include media-breakpoint-up($lg) {
    padding: 0 60px;
    height: 66px;
  }
  &:hover {
    color: white;
  }
  &--grey {
    background-color: $grey;
  }
  &--transparent {
    border: 1px solid white;
  }
}
