.g-title {
  font-weight: 700;
  font-size: 18px;
  @include media-breakpoint-up($md) {
    font-size: 25px;
  }
  &--sm {
    font-size: 18px;
  }
  &--lg {
    font-size: 18px;
    @include media-breakpoint-up($md) {
      font-size: 30px;
    }
  }
}

.g-tag {
  max-height: 30px;
  border-radius: 5px;
  background-color: #03565c;
  color: white;
  inline-size: fit-content;
  padding: 5px 20px 5px 20px;
  align-content: center;
  display: grid;
  margin-top: 10px;
  font-weight: 700;
  @include media-breakpoint-up($md) {
    max-height: 15px;
    flex-wrap: nowrap;
  }
}

.g-yellow-icon {
  background-color: $yellow;
  border-radius: 100%;
}
