.page {
  background-color: $blue;
  .hero-pub {
    background-image: url("../assets/imgs/habillage-iscod.jpg");
    height: 1000px;
    width: 1800px;
    background-size: cover;
    background-position: top center;
    margin: 0 auto -800px;
  }
  section {
    background-color: white;
    padding: 50px 15px;
    @include media-breakpoint-up($lg) {
      padding: 65px 80px;
    }
    .g-title {
      margin-bottom: 20px;
    }
    &.rechercher-par-localite {
      background-color: #eeeeee;
    }
    &.hero-section {
      background-image: url("../assets/imgs/bg-hero-section.jpg");
      background-position: top left;
      background-size: cover;
      color: white;
      padding: 15px 15px 0;
      @include media-breakpoint-up($md) {
        padding: 15px 80px 0;
      }
      @include media-breakpoint-up($lg) {
        height: 400px;
      }
      h1 {
        font-size: 42px;
        font-weight: 700;
      }
      .hint {
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 0.4em;
      }
    }
    &.section-shadow {
      box-shadow: 0px -30px 10px -10px rgba(0, 0, 0, 0.05) inset;
    }
    &.orientation-reorientation {
      .g-btn {
        img {
          max-height: 30px;
          max-width: 30px;
          margin-left: 30px;
        }
      }
    }
    &.ecoles-recherchees {
      background-color: $yellow;
      width: 100%;
    }
    &.contact-section {
      background: linear-gradient(
          0deg,
          rgba(3, 86, 92, 0.5),
          rgba(3, 86, 92, 0.5)
        ),
        url("../assets/imgs/conseiller.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: row-reverse;
      padding: 10px 40px;
      .g-yellow-icon {
        width: 90px;
        height: 90px;
        padding: 10px;
      }
      .btn {
        padding: 10px 40px;
        margin-bottom: 15px;
      }
    }
    &.formations-recherchees {
      ul {
        margin-top: 25px;
      }
      li {
        margin-bottom: 10px;
      }
    }
    &.orientation-info-decision {
      .list-icon {
        margin-right: 30px;
      }
    }
  }
}
