// Colors
$ADE-color: #0dad8d;
$ESP-color: #28367f;
$ESP-yellow: #fae100;
$ESD-color: #00c4b3;
$grey: #32373c;
$grey-dark: #151515;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$baseBorderRadius: 25px;

// Media breakpoints mixin
@mixin media-breakpoint-up($breakpoints) {
  @media (min-width: $breakpoints) {
    @content;
  }
}
