// Colors
$green: #03565c;
$green-light: #cae1de;
$orange-light: #f1dbc9;
$red: #ec4b54;
$yellow: #ffd401;
$blue: #252f6d;
$grey: #eeeeee;
$grey-dark: #797979;
$grey-light: #eeeeee;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$baseBorderRadius: 25px;

// Media breakpoints mixin
@mixin media-breakpoint-up($breakpoints) {
  @media (min-width: $breakpoints) {
    @content;
  }
}
