// Colors
$green: #03565c;
$light-green: #cae1de;
$light-orange: #f1dbc9;
$red: #ec4b54;
$yellow: #ffd401;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$baseBorderRadius: 25px;

// Media breakpoints mixin
@mixin media-breakpoint-up($breakpoints) {
  @media (min-width: $breakpoints) {
    @content;
  }
}
