footer {
  background-color: $grey-dark;
  padding: 40px 0;
  @include media-breakpoint-up($lg) {
    padding: 100px 0;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media-breakpoint-up($lg) {
      align-items: center;
      flex-direction: row;
    }
    & > img {
      margin-bottom: 30px;
      @include media-breakpoint-up($lg) {
        margin-right: 80px;
      }
    }
    a,
    p {
      font-size: 16px;
      font-family: "Causten-Medium", sans-serif;
      color: rgba(255, 255, 255, 0.5);
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      @include media-breakpoint-up($lg) {
        margin-right: 80px;
        margin-bottom: 0;
      }
    }
  }
}
