.header {
  height: 80px;
  display: flex;
  align-items: center;
  @include media-breakpoint-up($lg) {
    height: 100px;
  }
  &__logo {
    height: 30px;
    @include media-breakpoint-up($lg) {
      height: 40px;
    }
  }
}
