.hero-pub {
  background-size: cover;
  background-position: top center;
  img {
    max-width: 100%;
    @include media-breakpoint-up($lg) {
      display: none;
    }
  }
  @include media-breakpoint-up($lg) {
    margin: 0 auto -800px;
    height: 1000px;
    max-width: 1800px;
    background-image: url("../assets/imgs/habillage-iscod.jpg");
  }
}
