.cgu-mentions-legales {
  ul {
    margin-top: -15px;
  }
  li {
    list-style-position: inside;
    list-style-type: disc;
  }
  h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
