.cgu-mentions-legales {
  padding: 45px 45px;
  ul {
    margin-top: -15px;
  }
  li {
    list-style-position: inside;
    list-style-type: disc;
  }
  @include media-breakpoint-up($xl) {
    padding: 45px 200px;
  }
  h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
