.home {
  section {
    background-color: white;
    box-shadow: 0px -30px 10px -10px rgba(0, 0, 0, 0.05) inset;
    @include media-breakpoint-up($lg) {
      padding: 65px 80px;
    }
    @include media-breakpoint-up($xs) {
      padding: 15px;
    }
    .g-title {
      margin-bottom: 20px;
    }
  }
}
