.merci {
  min-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include media-breakpoint-up($lg) {
      margin-bottom: 30px;
      font-size: 60px;
      line-height: 60px;
    }
  }
  p {
    font-size: 14px;
    font-family: "Causten-Bold";
    @include media-breakpoint-up($lg) {
      font-size: 19px;
    }
  }
  &--ADE {
    h1 {
      font-family: "Causten-ExtraBold";
    }
    p {
      font-family: "Causten-Bold";
    }
  }
  &--ESP {
    h1 {
      font-weight: 700;
      letter-spacing: 0.2em;
      color: $ESP-color;
    }
    p {
      color: $ESP-color;
      font-weight: 400;
      line-height: 21px;
    }
    span {
      background-color: $ESP-yellow;
    }
  }
  &--ESD {
    h1 {
      font-weight: 700;
      letter-spacing: 0.2em;
      color: $dark-blue;
    }
    p {
      color: $dark-blue;
      font-weight: 400;
      line-height: 21px;
    }
    span {
      background-color: $ESP-yellow;
    }
  }
}
