.page-404 {
  &__hero-section {
    background-image: url("../assets/imgs/bg-hero-section.jpg");
    background-size: cover;
    padding: 40px 15px;
    @include media-breakpoint-up($lg) {
      padding: 40px;
    }
  }
  &__filtres {
    padding: 15px;
    background-color: $green;
    color: white;
    @include media-breakpoint-up($lg) {
      padding: 15px 40px;
    }
    select {
      height: 25px;
      background-position-y: 1px;
      @include media-breakpoint-up($sm) {
        height: 50px;
        background-position-y: 12px;
      }
    }
    .g-btn {
      height: 25px;
      img {
        width: 18px;
        @include media-breakpoint-up($sm) {
          width: auto;
        }
      }
      @include media-breakpoint-up($sm) {
        height: 50px;
      }
    }
  }
  &__main-section {
    background-color: white;
    .g-block {
      margin-bottom: 30px;
    }
  }
  &__right-col {
    top: unset;
    @include media-breakpoint-up($lg) {
      position: relative;
    }
  }
}
