.page-seo {
  .section-padding {
    padding: 15px;
    @include media-breakpoint-up($md) {
      padding: 30px 60px;
    }
  }
  .g-block {
    margin-bottom: 30px;
  }
  &__border-bottom {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
  }
  &__hero-section {
    @extend .section-padding;
    background-image: url("../assets/imgs/bg-fiche-ecole-hero.jpg");
    background-size: cover;
    p {
      text-transform: uppercase;
      color: white;
      margin-bottom: 0;
    }
  }
  &__main-section {
    @extend .section-padding;
    background-color: white;
  }
  &__right-col {
    top: unset;
    @include media-breakpoint-up($lg) {
      position: relative;
    }
  }
}
