.page-seo {
  .g-block {
    margin-bottom: 30px;
  }
  &__border-bottom {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
  }
  &__hero-section {
    background-image: url("../assets/imgs/bg-fiche-ecole-hero.jpg");
    background-size: cover;
    p {
      text-transform: uppercase;
      color: white;
      margin-bottom: 0;
    }
  }
  &__main-section {
    background-color: white;
  }
  &__right-col {
    top: unset;
    @include media-breakpoint-up($lg) {
      position: relative;
    }
  }
  .g-section {
    &__formations-recherchees {
      padding: 0;
    }
    &__contact {
      .g-block {
        margin: 0;
      }
    }
  }
  .g-title--lg {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
