.poste {
  // Banière
  .poste-banner {
    background-image: url("../../assets/imgs/hero-poste.jpg");
    background-size: cover;
    padding: 30px 0;
    position: relative;
    @include media-breakpoint-up($lg) {
      padding: 50px 0;
    }
    h1 {
      font-weight: 800;
      font-size: 34px;
      color: white;
      @include media-breakpoint-up($lg) {
        font-size: 50px;
        margin-bottom: 15px;
      }
    }
    &__info {
      display: flex;
      align-items: center;
      font-size: 16px;
      @include media-breakpoint-up($lg) {
        font-size: 19px;
      }
      img {
        height: 17px;
        margin-right: 10px;
      }
    }
    &__date {
      position: absolute;
      text-align: right;
      right: 15px;
      bottom: -30px;
      font-size: 8px;
      text-transform: uppercase;
      @include media-breakpoint-up($lg) {
        position: unset;
        color: white;
        font-size: 14px;
        margin-top: 30px;
      }
    }
  }

  // Description du poste
  .poste-description {
    h2 {
      font-weight: 700;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 50px 0 15px;
      font-size: 16px;
      @include media-breakpoint-up($lg) {
        font-size: 22px;
      }
    }
    p,
    ul {
      color: #555555;
      margin-bottom: 15px;
      font-size: 12px;
      @include media-breakpoint-up($lg) {
        font-size: 16px;
      }
    }
    ul {
      padding: 0 15px;
    }
    li {
      list-style: disc;
    }
  }

  // Formulaire de candidature
  .formulaire-candidature {
    padding: 30px 0;
    @include media-breakpoint-up($lg) {
      max-width: 490px;
      padding: 60px;
      position: absolute;
      right: 0;
      top: 220px;
    }
    @include media-breakpoint-up($xl) {
      max-width: 600px;
      padding: 60px 70px;
    }
    @include media-breakpoint-up($xxl) {
      max-width: 700px;
      padding: 60px 190px 60px 70px;
    }
    h2 {
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 16px;
      @include media-breakpoint-up($lg) {
        font-size: 19px;
      }
    }
    &__hint {
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 13px;
      @include media-breakpoint-up($lg) {
        line-height: 19px;
        font-size: 13px;
      }
    }
    &__validation-alert {
      background-color: #e95c5c;
      padding: 15px;
      color: white;
      font-size: 13px;
      line-height: 16px;
    }
    &__input {
      border: 1px solid #cccccc;
      width: 100%;
      height: 48px;
      padding: 0 15px;
      background-color: white;
    }
    &__placeholder {
      font-size: 12px;
      color: #999999;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      opacity: 1;
      font-weight: 700;
    }
    input {
      @extend .formulaire-candidature__input;
      @extend .formulaire-candidature__placeholder;
      &::placeholder {
        @extend .formulaire-candidature__placeholder;
      }
    }
    &__input-with-icon {
      position: relative;
      & input {
        padding-left: 50px;
      }
      .icon-container {
        width: 42px;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: #d9d9d9;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__indication {
      color: white;
      font-size: 11px;
      b {
        font-size: 12px;
      }
    }
    &__input-file {
      position: relative;
      input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      label {
        cursor: pointer;
        @extend .formulaire-candidature__input;
        @extend .formulaire-candidature__placeholder;
        display: flex;
        align-items: center;
        padding-right: 50px;
      }
      p {
        background-color: #d9d9d9;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 0px;
        @extend .formulaire-candidature__placeholder;
        height: 100%;
        padding: 0 25px;
      }
    }
    &__select {
      @extend .formulaire-candidature__input;
      @extend .formulaire-candidature__placeholder;
      background-image: url("data:image/svg+xml;utf8,<svg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.303041 2.31225L4.82095 6.78085C5.01084 6.96889 5.25562 7.06251 5.5 7.06251C5.74438 7.06251 5.98916 6.96889 6.17905 6.78085L10.697 2.31225C11.0887 1.92428 11.1025 1.28159 10.7277 0.876156C10.3524 0.469932 9.73092 0.457236 9.33883 0.844418L5.5 4.64176L1.66117 0.844418C1.26908 0.456424 0.647552 0.470719 0.272348 0.876156C-0.102487 1.28159 -0.0886631 1.92428 0.303041 2.31225Z' fill='black'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 20px;
      appearance: none;
      cursor: pointer;
    }
    textarea {
      @extend .formulaire-candidature__input;
      @extend .formulaire-candidature__placeholder;
      height: unset;
      padding-top: 15px;
      &::placeholder {
        @extend .formulaire-candidature__placeholder;
      }
    }
    &__modal-btn {
      font-weight: 700;
      margin-left: 10px;
      flex: 0 0 81px;
      background: #32373c;
      font-size: 11px;
      color: white;
      padding: 5px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      line-height: 11px;
      text-align: left;
      img {
        margin-right: 5px;
      }
    }
    &__rappel-modal {
      .modal-content {
        color: white;
        background-color: $grey;
        border-radius: 25px;
        padding: 30px 40px;
        .header {
          display: flex;
          margin-bottom: 20px;
          img {
            height: 40px;
            margin-right: 20px;
          }
          h3 {
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 5px;
          }
          p {
            font-size: 13px;
          }
        }
        .info {
          font-size: 11px;
          line-height: 16px;
        }
      }
    }
  }

  // Carte poste
  .carte-poste {
    background: rgba(13, 173, 141, 0.15);
    padding: 40px 35px;
    margin: 60px 0 30px;
    ul {
      li {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
    &__type {
      flex: 0 0 50%;
      text-transform: uppercase;
      letter-spacing: 0.12em;
      font-size: 12px;
      padding-right: 15px;
      @include media-breakpoint-up($lg) {
        flex: 0 0 200px;
        font-size: 16px;
      }
    }
    &__info {
      font-size: 16px;
      color: #555555;
    }
  }

  // Partage
  .partagez-annonce {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 3px solid #151515;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 20px;
    }
    &__socials {
      a {
        margin-left: 10px;
      }
    }
  }

  // Mots clès
  .mots-cles {
    margin: 30px 0;
    font-size: 11px;
    @include media-breakpoint-up($lg) {
      margin: 30px 0 150px;
    }
  }

  // Ce poste vous intéresse
  .poste-interesse {
    display: none;
    color: white;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      font-family: "Causten-Medium";
      margin-right: 30px;
      font-size: 15px;
      @include media-breakpoint-up($lg) {
        font-size: 22px;
      }
    }
  }

  // Déclinaisons

  // ADE
  &--ADE {
    .poste-banner__info,
    .poste-description h2,
    .carte-poste__type {
      color: $ADE-color;
    }
    .formulaire-candidature,
    .poste-interesse {
      background-color: $ADE-color;
    }
    .g-btn {
      background-color: $ADE-color;
    }
    .poste-banner {
      h1 {
        font-family: "Causten-ExtraBold";
      }
    }
    .poste-description {
      h2 {
        font-family: "Causten-Bold";
      }
    }
    .formulaire-candidature {
      h2 {
        font-family: "Causten-Bold";
      }
      &__placeholder {
        font-family: "Causten-Bold";
      }
      &__modal-btn {
        margin-left: 10px;
        font-family: "Causten-Bold";
      }
    }
    &__rappel-modal {
      h3 {
        font-family: "Causten-Bold";
      }
    }
    .carte-poste__type {
      font-family: "Causten-Bold";
    }
  }

  // ESP
  &--ESP {
    .poste-description h2,
    .carte-poste__type {
      color: $ESP-color;
    }
    .formulaire-candidature,
    .poste-interesse {
      background-color: $ESP-color;
    }
    .g-btn,
    .formulaire-candidature__modal-btn {
      color: $ESP-color;
      background-color: $ESP-yellow;
    }
    .poste-banner {
      background-image: url("../../assets/imgs/hero-ESD.jpg");
      color: white;
      h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 55px;
      }
      &__info {
        svg {
          height: 17px;
          margin-right: 10px;
          fill: $ESP-yellow;
        }
      }
    }
    .formulaire-candidature {
      &__modal-btn {
        svg {
          fill: $ESP-color;
          margin-right: 5px;
        }
      }
      &__hint {
        color: white;
      }
    }
    .carte-poste {
      background: $ESP-color;
      h3 {
        color: $ESP-yellow;
      }
      p {
        color: white;
      }
    }
  }

  // ESD
  &--ESD {
    .poste-description h2,
    .carte-poste__type {
      color: $ESD-color;
    }
    .formulaire-candidature,
    .poste-interesse {
      background-color: $ESD-color;
    }
    .g-btn,
    .formulaire-candidature__modal-btn {
      color: rgba(24, 20, 52, 1);
      background-color: $ESP-yellow;
    }
    .poste-banner {
      background-image: url("../../assets/imgs/hero-ESD.jpg");
      color: white;
      h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 55px;
      }
      &__info {
        svg {
          height: 17px;
          margin-right: 10px;
          fill: $ESP-yellow;
        }
      }
    }
    .formulaire-candidature__modal-btn {
      svg {
        fill: $dark-blue;
        margin-right: 5px;
      }
    }
    .carte-poste {
      background: $ESD-color;
      h3 {
        color: $ESP-yellow;
      }
      p {
        color: white;
      }
    }
  }
}
