.poste {
  .poste-banner {
    background-image: url("../../assets/imgs/hero-poste.jpg");
    background-size: cover;
    padding: 30px 0;
    @include media-breakpoint-up($lg) {
      padding: 50px 0;
    }
    h1 {
      font-family: "Causten-ExtraBold";
      font-size: 34px;
      color: white;
      @include media-breakpoint-up($lg) {
        font-size: 50px;
        margin-bottom: 15px;
      }
    }
    &__info {
      display: flex;
      align-items: center;
      color: $brand;
      font-size: 16px;
      @include media-breakpoint-up($lg) {
        font-size: 19px;
      }
      img {
        height: 17px;
        margin-right: 10px;
      }
    }
  }
  .poste-description {
    h2 {
      font-family: "Causten-Bold";
      color: $brand;
      font-size: 25px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 50px 0 15px;
    }
    p,
    ul {
      font-size: 17px;
      color: #555555;
      margin-bottom: 15px;
    }
    ul {
      padding: 0 15px;
    }
    li {
      list-style: disc;
    }
  }
  .formulaire-candidature {
    background-color: $brand;
    @include media-breakpoint-up($lg) {
      max-width: 490px;
      padding: 60px;
      position: absolute;
      right: 0;
      top: 220px;
    }
    @include media-breakpoint-up($xl) {
      max-width: 600px;
      padding: 60px 70px;
    }
    @include media-breakpoint-up($xxl) {
      max-width: 700px;
      padding: 60px 200px 60px 70px;
    }
    h2 {
      font-family: "Causten-Bold";
      color: white;
      text-transform: uppercase;
      font-size: 19px;
      margin-bottom: 20px;
    }
    &__hint {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 19px;
    }
    &__validation-alert {
      background-color: #e95c5c;
      padding: 15px;
      color: white;
      font-size: 13px;
      line-height: 16px;
    }
    &__input {
      border: 1px solid #cccccc;
      width: 100%;
      height: 48px;
      padding: 0 15px;
      background-color: white;
    }
    &__placeholder {
      font-size: 12px;
      color: #999999;
      text-transform: uppercase;
      font-family: "Causten-Bold";
      letter-spacing: 0.15em;
      opacity: 1;
    }
    input {
      @extend .formulaire-candidature__input;
      @extend .formulaire-candidature__placeholder;
      &::placeholder {
        @extend .formulaire-candidature__placeholder;
      }
    }
    &__input-with-icon {
      position: relative;
      & input {
        padding-left: 50px;
      }
      .icon-container {
        width: 42px;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: #d9d9d9;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__indication {
      color: white;
      font-size: 11px;
      b {
        font-size: 12px;
      }
    }
    &__input-file {
      position: relative;
      input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      label {
        cursor: pointer;
        @extend .formulaire-candidature__input;
        @extend .formulaire-candidature__placeholder;
        display: flex;
        align-items: center;
        padding-right: 50px;
      }
      p {
        background-color: #d9d9d9;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 0px;
        @extend .formulaire-candidature__placeholder;
        height: 100%;
        padding: 0 25px;
      }
    }
    &__select {
      @extend .formulaire-candidature__input;
      @extend .formulaire-candidature__placeholder;
      background-image: url("data:image/svg+xml;utf8,<svg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.303041 2.31225L4.82095 6.78085C5.01084 6.96889 5.25562 7.06251 5.5 7.06251C5.74438 7.06251 5.98916 6.96889 6.17905 6.78085L10.697 2.31225C11.0887 1.92428 11.1025 1.28159 10.7277 0.876156C10.3524 0.469932 9.73092 0.457236 9.33883 0.844418L5.5 4.64176L1.66117 0.844418C1.26908 0.456424 0.647552 0.470719 0.272348 0.876156C-0.102487 1.28159 -0.0886631 1.92428 0.303041 2.31225Z' fill='black'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 20px;
      appearance: none;
      cursor: pointer;
    }
    textarea {
      @extend .formulaire-candidature__input;
      @extend .formulaire-candidature__placeholder;
      height: unset;
      padding-top: 15px;
      &::placeholder {
        @extend .formulaire-candidature__placeholder;
      }
    }
  }
}
