.questionnaire {
  min-height: 100vh;
  display: flex;
  align-items: center;
  &.step6 {
    background-image: url("../assets/imgs/bg-questionnaire-step-6.jpg");
    background-position: top;
    background-size: cover;
  }
  .block {
    background-color: white;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    max-width: 900px;
    margin: 15px auto;
    h1 {
      text-align: center;
      color: $green;
      font-size: 30px;
      font-weight: 700;
      padding: 40px 15px;
      @include media-breakpoint-up($sm) {
        font-size: 50px;
      }
    }
    .progress-bar {
      background: rgba(196, 196, 196, 0.6);
      height: 13px;
      width: 100%;
      .progress {
        background: $yellow;
        transition: width 0.2s;
      }
    }
    .step-container {
      width: 100%;
      display: none;
      opacity: 0;
      flex-direction: column;
      left: 20px;
      min-height: 200px;
      position: relative;
    }
    h2 {
      margin: 40px 0 0;
      text-align: center;
    }
    form {
      padding: 0 15px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media-breakpoint-up($md) {
        padding: 0 120px 120px;
      }
      h3 {
        margin: 30px 0 15px;
      }
    }
  }
  &__radio {
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 2px solid $green;
      border-radius: 42px;
      font-size: 12px;
      font-weight: 700;
      height: 42px;
      background-color: $green;
      color: white;
      &:hover {
        border-color: black;
      }
      @include media-breakpoint-up($sm) {
        font-size: 16px;
      }
      @include media-breakpoint-up($lg) {
        font-size: 20px;
        height: 50px;
        line-height: 20px;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      &:checked ~ span {
        border-color: black;
      }
    }
    &--white {
      span {
        background-color: white;
        border-color: $green;
        color: $green;
      }
    }
  }
  .nav-btn {
    background: transparent;
    border: none;
    font-size: 22px;
    font-weight: 700;
    &#prevBtn {
      border-right: 1px solid;
      padding-right: 30px;
    }
    &#nextBtn {
      padding-left: 30px;
      color: $red;
    }
  }
  &__input-container {
    position: relative;
    margin-bottom: 30px;
    img {
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }
  &__input {
    width: 100%;
    background: #eeeeee;
    border-radius: 10px;
    border: none;
    height: 50px;
    padding: 0 15px;
  }
  &__text-small {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    max-width: 475px;
    opacity: 0.6;
    margin-top: 15px;
  }
  &__footer {
    background-color: #262626;
    padding: 40px;
    text-align: center;
    color: white;
    width: 100%;
  }
}
