.quelle-ecole {
  &__hero-section {
    background-image: url("../assets/imgs/bg-hero-section.jpg");
    background-size: cover;
    text-align: center;
    padding: 40px 15px;
    display: none;
    @include media-breakpoint-up($sm) {
      display: block;
    }
  }
  &__main-section {
    background-color: white;
    padding: 0 15px 15px;
    @include media-breakpoint-up($sm) {
      padding: 15px;
    }
    @include media-breakpoint-up($xl) {
      padding: 40px;
    }
  }
  &__rechercher-ecole {
    background-color: $green;
    color: white;
    border-radius: 0;
    margin: 0 -15px;
    padding: 0 15px 15px;
    @include media-breakpoint-up($sm) {
      margin: 0;
      border-radius: 25px;
      padding: 30px 15px;
    }
    select {
      height: 25px;
      background-position-y: 1px;
      @include media-breakpoint-up($sm) {
        height: 50px;
        background-position-y: 12px;
      }
    }
    .g-btn {
      height: 25px;
      img {
        width: 18px;
        @include media-breakpoint-up($sm) {
          width: auto;
        }
      }
      @include media-breakpoint-up($sm) {
        height: 50px;
      }
    }
  }
  &__pagination {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    a {
      &:hover {
        color: $yellow;
      }
    }
    .g-btn {
      background-color: $grey;
      color: black;
      &.active {
        background-color: $green;
        color: white;
      }
    }
    .number-container {
      display: flex;
      align-items: center;
      .g-btn {
        padding: 0;
        width: 50px;
        margin: 0 3px;
      }
      span {
        margin: 0 15px;
        font-size: 22px;
        font-weight: 700;
        height: 100%;
      }
    }
  }
}
