.quelle-ecole {
  &__hero-section {
    background-image: url("../assets/imgs/bg-hero-section.jpg");
    background-size: cover;
    text-align: center;
    padding: 40px 15px;
  }
  &__main-section {
    background-color: white;
    padding: 15px;
    @include media-breakpoint-up($xl) {
      padding: 40px;
    }
  }
  &__rechercher-ecole {
    background-color: $green;
    color: white;
  }
  &__pagination {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    a {
      &:hover {
        color: $yellow;
      }
    }
    .g-btn {
      background-color: $grey;
      color: black;
      &.active {
        background-color: $green;
        color: white;
      }
    }
    .number-container {
      display: flex;
      align-items: center;
      .g-btn {
        padding: 0;
        width: 50px;
        margin: 0 3px;
      }
      span {
        margin: 0 15px;
        font-size: 22px;
        font-weight: 700;
        height: 100%;
      }
    }
  }
}
