.g-btn {
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: $red;
  font-weight: 700;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  line-height: 1.2;
  @include media-breakpoint-up($xl) {
    font-size: 20px;
  }
  &:hover {
    color: white;
  }
  &--yellow {
    background-color: $yellow;
    color: $green;
  }
  &--green {
    background-color: $green;
    height: 60px;
    background-color: $green;
    justify-content: flex-start;
    text-align: left;
    img {
      margin-right: 15px;
    }
  }
}
