.g-form {
  label {
    font-weight: 700;
    margin-bottom: 5px;
  }
  .input {
    width: 100%;
    background-color: white;
    border: none;
    padding: 0 40px 0 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    &::placeholder {
      color: $grey-dark;
      opacity: 1;
    }
  }
  textarea {
    @extend .input;
    padding: 10px;
    resize: none;
  }
  select,
  input {
    height: 50px;
    @extend .input;
    &.input-grey {
      background: #eeeeee;
    }
  }
  select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23797979' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 12px;
    appearance: none;
    cursor: pointer;
    color: $grey-dark;
  }
}
