.modal {
  .modal-content {
    position: relative;
    background-color: $grey-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $baseBorderRadius;
    border: none;
    padding: 60px 40px;
    text-align: center;
  }
  &__icon {
    width: 75px;
    margin-bottom: 25px;
  }
  &__close-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
